<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content drag-content="true">
    <ion-nav-bar class="bar-dark">
      <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
          <button class="button button-icon button-clear ion-navicon-round" menu-toggle="left">
          </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="left" width="255">
    <ion-header-bar class="header" style="height:25% !important;z-index: 0 !important;">
      <div id="display-info" ng-if="!viewImage">
          <img id="display-image" ng-src="http://192.241.86.4/{{imageUrl}}" alt="Description" ngf-select="upload($file);"/>
          <span style="color: white;font-family: Raleway !important;font-weight: bold;float: right;font-size: 20px;padding-top: 10%;margin-right: 18%;">{{firstName}}</span>
          <span style="color: white;font-family: sans-serif !important;font-weight: bold;float: right;font-size: 20px;padding-top: 5%;margin-right: 2%;">{{phone}}</span>
      </div>
      <div id="display-info" ng-if="viewImage">
          <img id="display-image" src="img/user.png" alt="Description" ngf-select="upload($file);"/>
          <span style="color: white;font-family: Raleway !important;font-weight: bold;float: right;font-size: 20px;padding-top: 10%;margin-right: 18%;">{{firstName}}</span>
          <span style="color: white;font-family: sans-serif !important;font-weight: bold;float: right;font-size: 20px;padding-top: 5%;margin-right: 2%;">{{phone}}</span>
      </div>
    </ion-header-bar>
    <ion-content class="custom" style="top:25% !important;">
      <ion-list style="text-align: left !important;">
        <ion-item style="background-color:#B7B6B6;">
          <b>Features</b>
        </ion-item>
        <ion-item class="item-icon-left" style="font-size: 15px;" menu-close href="#/app/map">
         <i class="icon ion-ios-home" style="font-size: 26px;"></i>
          Dashboard <span class="badge" style="background-color: #5bc0de;color: white;padding-left: 10%;padding-bottom: 2%;right:2%;font-family: sans-serif !important;">{{taskLength}}</span>
        </ion-item>
        <ion-item class="item-icon-left" style="font-size: 15px;" menu-close href="#/app/tabs" >
          <i class="icon ion-android-list" style="font-size: 26px;"></i>
          Tasks <span class="badge" style="background-color: #5bc0de;color: white;padding-left: 10%;padding-bottom: 2%;right:2%;font-family: sans-serif !important;">{{taskLength}}</span>
        </ion-item>
        <ion-item class="item-icon-left" style="font-size: 15px;" menu-close href="#/app/profile">
         <i class="icon ion-person" style="font-size: 26px;"></i>
          Profile
        </ion-item>
        <ion-item class="item-icon-left" style="font-size: 15px;" menu-close href="#/app/routes">
         <i class="icon ion-paper-airplane" style="font-size: 26px;"></i>
          Find Way
        </ion-item>
        <ion-item class="item-icon-left" style="font-size: 15px;" menu-close href="#/app/places">
         <i class="icon ion-ios-navigate" style="font-size: 26px;"></i>
          Track Route
        </ion-item>
        <ion-item class="item-icon-left" style="font-size: 15px;" ng-show="admin" menu-close href="#/app/chats">
         <i class="icon ion-ios-chatboxes" style="font-size: 26px;"></i>
          Chat
        </ion-item>
        <ion-item class="item-icon-left" style="font-size: 15px;" menu-close href="#/app/traffic">
         <i class="icon ion-model-s" style="font-size: 26px;"></i>
          Show Traffic Zone
        </ion-item>
        <ion-item style="background-color:#B7B6B6;">
          <b>About Us</b>
        </ion-item>
        <ion-item class="item-icon-left" style="font-size: 15px;" menu-close href="#/app/contactUs">
         <i class="icon ion-chatbubbles" style="font-size: 26px;"></i>
          Contact Us
        </ion-item>
        <ion-item class="item-icon-left" style="font-size: 15px;" menu-close href="#/app/version">
         <i class="icon ion-android-document" style="font-size: 26px;"></i>
          Version
        </ion-item>
        <ion-item class="item-icon-left" style="font-size: 15px;" menu-close href="#/app/terms">
         <i class="icon ion-ios-list" style="font-size: 26px;"></i>
          Terms Of Use
        </ion-item>
        <ion-item class="item-icon-left" style="font-size: 15px;" menu-close href="#/app/rating">
         <i class="icon ion-ios-star" style="font-size: 26px;"></i>
          Rate Us
        </ion-item>
        <ion-item class="item-icon-left" style="font-size: 15px;" on-tap="logout()" menu-close style="padding-right:49px !important;">
          <i class="icon ion-log-out" style="font-size: 26px;"></i>
            Logout
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>