<ion-view>
  <ion-nav-title>
      <h5 style="font-family: Raleway !important;color:white !important;font-size:16px !important;">Dashboard
        <span style="float:right;font-family: Raleway !important;color:white !important;">{{percent}} <i class="icon ion-battery-full"></i></span>
      </h5>
  </ion-nav-title>
  <ion-content class="animated slideIn" scroll="true">
    <div id="map" data-tap-disabled="true"></div>
    <div>
      <div class="card" style="margin: 20px 10px;">
        <div class="item item-text-wrap" style="padding:0;">
          <div class="row" style="padding:0;">
            <div class="col col-20" style="padding:10px;color: white;font-family: Raleway !important;font-weight: bold;background-color: #5cb85c;" ng-if="data.taskReportStatus === 1">
              <p><center>{{data.createdDate | monthFormat}}</center></p>
              <p><center>{{data.createdDate | dayFormat}}</center></p>
            </div>
             <div class="col col-20" style="padding:10px;color: white;font-family: Raleway !important;font-weight: bold;background-color: #337ab7;" ng-if="data.taskReportStatus === 0">
              <p><center>{{data.createdDate | monthFormat}}</center></p>
              <p><center>{{data.createdDate | dayFormat}}</center></p>
            </div>
            <div class="col col-60" style="padding:10px;">
              <p>{{data.taskName}}</p>
              <p>{{data.taskDescription}}</p>
            </div>
            <div class="col col-20" style="padding-top: 5%;" ng-if="data.taskReportStatus === 1">
              <center><i class="icon ion-checkmark-circled" style="font-size:30px;color:#5cb85c;"></i></center>
            </div>
            <div class="col col-20" style="padding-top: 5%;" ng-if="data.taskReportStatus === 0">
              <center><i class="icon ion-alert-circled" style="font-size:30px;color:#337ab7;"></i></center>
            </div>
          </div>
        </div>
      </div>
    </div>
  </ion-content>
</ion-view>