<ion-view class="example4">
	<ion-nav-title>
	    <h5 style="font-family: Raleway !important;color:white !important;font-size:18px !important;">Contact Us
		    <span ng-switch="switchHelper(percent)">
		    	<span style="float:right;font-family: sans-serif !important;color:white !important;" ng-switch-when="0">{{percent}} <i class="icon ion-battery-full"></i></span>
		    	<span style="float:right;font-family: sans-serif !important;color:white !important;" ng-switch-when="1">{{percent}} <i class="icon ion-battery-half"></i></span>
		    	<span style="float:right;font-family: sans-serif !important;color:white !important;" ng-switch-when="2">{{percent}} <i class="icon ion-battery-low"></i></span>
		    </span>
	    </h5>
	</ion-nav-title>
    <ion-content class="animated slideIn">
    	<img src="img/logo19.png" style="margin: 4% 0% 0% 37%;width:100px !important;"/>
    	<div class="card" style="border:none;background-color: rgba(110,130,138,0.81) !important;margin: 1% 4% 0 4% !important;border-radius:5% !important;" >
		    <form class="col s12" name="myForm" style="border:none;" ng-submit="sendMessage(myForm.$valid,input)" novalidate>
			    <div class="row" style="border:none;">
			        <div class="input-field col s12" style="border:none;">
			          <input id="name" name="name" type="text" ng-model="input.name" style="color:white;font-family: Raleway !important;font-weight:bold;border:none;" required>
			          <label for="name" style="color:white;font-family: Raleway !important;font-weight:bold;">Name</label>
			          <p ng-show="myForm.name.$error.required && submitted" style="color:#403E3E;font-family: Raleway !important;">* Name is required</p>
			        </div>
			    </div>
			    <div class="row" style="border:none;">
			        <div class="input-field col s12" style="border:none;">
			          <input id="email" name="email" type="email" ng-model="input.email" style="color:white;font-family: Raleway !important;font-weight:bold;border:none;" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" required>
			          <label for="email" style="color:white;font-family: Raleway !important;font-weight:bold;">Email</label>
			          <p ng-show="myForm.email.$error.required && submitted" style="color:#403E3E;font-family: Raleway !important;">* Email is required</p>
			          <p ng-show="myForm.email.$invalid && !myForm.email.$pristine && submitted" style="color:#403E3E;font-family: Raleway !important;">* Email must be a valid email address</p>
			        </div>
			    </div>
			    <div class="row" style="border:none;">
			        <div class="input-field col s12" style="border:none;">
			          <input id="subject" name="subject" type="text" ng-model="input.subject" style="color:white;font-family: Raleway !important;font-weight:bold;border:none;" required>
			          <label for="subject" style="color:white;font-family: Raleway !important;font-weight:bold;">Subject</label>
			          <p ng-show="myForm.subject.$error.required && submitted" style="color:#403E3E;font-family: Raleway !important;">* Subject is required</p>
			        </div>
			    </div>
			    <div class="row" style="border:none;">
			        <div class="input-field col s12" style="border:none;">
			          <input id="message" name="message" type="text" ng-model="input.message" style="color:white;font-family: Raleway !important;font-weight:bold;border:none;" required>
			          <label for="message" style="color:white;font-family: Raleway !important;font-weight:bold;">Your Query</label>
			          <p ng-show="myForm.message.$error.required && submitted" style="color:#403E3E;font-family: Raleway !important;">* Your Query is required</p>
			        </div>
			    </div>
			    <div class="row" style="border:none;">
			      	<div class="col s12" style="border:none;">
			      		<button type="submit" style="font-family: Raleway !important; font-size: 20px; float: right !important;" class="button waves-effect button-clear"><b style="color:white;">Send Message &nbsp;<i class="ion-arrow-right-a"></i></b></button>
			      	</div>
			    </div>
		    </form>
		  </div>
    </ion-content>
</ion-view>
