<ion-view hide-nav-bar="true">
	<img src="img/edit2.jpg" style="height: 100%;width: 100%;"/>
    <ion-content class="animated slideIn" scroll="false">
		<ul class="progress-indicator" style="margin-top:10%;">
		  <li class="completed"> <span class="bubble"></span><b style="font-family: Raleway !important;color:#048C94;"> Step 1 </b></li>
		  <li class="completed"> <span class="bubble"></span><b style="font-family: Raleway !important;color:#048C94;"> Step 2 </b></li>
		  <li class="completed"> <span class="bubble"></span><b style="font-family: Raleway !important;color:#048C94;"> Step 3 </b></li>
		  <li class="completed"> <span class="bubble"></span><b style="font-family: Raleway !important;color:#048C94;"> Step 4 </b></li>
		</ul>

    	<div class="card" style="border:none;background-color: #048C94 !important;margin: 30% 4% 0 4% !important;border-radius:5% !important;" >
		    <form class="col s12" name="myForm" style="border:none;" ng-submit="submit(myForm.$valid,input)" novalidate>
		    	
		        <div class="row" style="border:none;margin-top: 10%;">
		        	<div class="input-field col s12 item-icon-right" style="border:none;">
			           <i class="icon ion-eye" on-tap="showPassword = !showPassword" style="font-size: 20px;padding-bottom: 15px;color:white;"></i>
			            <input type="password" name="password" id="password" ng-model="input.password" ng-hide="showPassword" style="border-bottom : 0 !important;color:white !important; font-size:18px;" required>
			            <input type="text" name="password" id="passwordRaw" ng-model="input.password" ng-show="showPassword" style="border-bottom : 0 !important;color:white !important; font-size:18px;" required>
			            <label for="password" style="font-family: Raleway !important;color:white !important; font-size:18px;">Password</label>
			            <p ng-show="myForm.password.$error.required && submitted" style="color:#403E3E;font-family: Raleway !important;">* Password is required</p>
		       		</div>
		        </div>
		        <div class="row" style="border:none;">
		        	<div class="input-field col s12 item-icon-right" style="border:none;">
			           <i class="icon ion-eye" on-tap="showPassword = !showPassword" style="font-size: 20px;padding-bottom: 15px;color:white;"></i>
			            <input id="confirmPassword" name="confirmPassword" type="password" ng-model="input.confirmPassword" style="border-bottom : 0 !important;color:white !important; font-size:18px;" ng-hide="showPassword" required ng-blur="validatePassword(input.password,input.confirmPassword);">
			            <input id="confirmPasswordRaw" name="confirmPassword" type="text" ng-model="input.confirmPassword" style="border-bottom : 0 !important;color:white !important; font-size:18px;" ng-show="showPassword" required ng-blur="validatePassword(input.password,input.confirmPassword);">
			            <label for="confirmPassword" style="font-family: Raleway !important;color:white !important; font-size:18px;">Confirm New Password</label>
			            <p ng-show="myForm.confirmPassword.$error.required && submitted" style="color:#403E3E;font-family: Raleway !important;">* Password is required</p>
			            <p ng-show="showError" style="color:#403E3E;font-family: Raleway !important;">* Passwords don't match</p>
		       		</div>
		        </div>
		        <div class="row" style="border:none;">
			      	<div class="col s12" style="border:none;" >
			      		<button type="submit" style="font-family: Raleway !important;color:white !important; font-size: 18px; float: right !important;" class="button waves-effect button-clear"><b>DONE &nbsp;<i class="ion-arrow-right-c"></i></b></button>
			      	</div>
		        </div>
		    </form>
		</div>
    </ion-content>
</ion-view>
