<ion-view hide-nav-bar="true">
	<img src="img/edit2.jpg" style="height: 100%;width: 100%;"/>
    <ion-content class="animated slideIn" scroll="false">
    	<ul class="progress-indicator" style="margin-top:10%;">
		  <li class="completed"> <span class="bubble"></span><b style="font-family: Raleway !important;color:#A71E1E;"> Step 1 </b></li>
		  <li class="completed"> <span class="bubble"></span><b style="font-family: Raleway !important;color:#A71E1E;"> Step 2 </b></li>
		  <li> <span class="bubble"></span><b style="font-family: Raleway !important;color:#A71E1E;"> Step 3 </b></li>
		  <li> <span class="bubble"></span><b style="font-family: Raleway !important;color:#A71E1E;"> Step 4 </b></li>
		</ul>

    	<div class="card" style="border:none;background-color: #A71E1E !important;margin: 20% 4% 0 4% !important;border-radius:5% !important;" >
		    <form class="col s12" name="myForm" style="border:none;" ng-submit="submitInfo(myForm.$valid,input)" novalidate>
		      <div class="row" style="border:none;margin-top: 5%;">
		        <div class="input-field col s12" style="border:none;">
		          <input id="companyName" name="companyName" type="text" ng-model="input.companyName" style="color:white;font-family: Raleway !important;border-bottom : 0 !important;font-size:18px;"required>
		          <label for="companyName" style="font-family: Raleway !important;color:white;font-size:18px;">Company Name</label>
		          <p style="color:#403E3E;margin-bottom:2px !important;font-family: Raleway !important;font-weight: bold;" ng-show="myForm.companyName.$error.required && submitted">Company Name is required</p>
		        </div>
		      </div>
		      
		      <div class="row" style="border:none;">
		        <div class="input-field col s12" style="border:none;">
		          <input id="firstName" name="firstName" type="text" ng-model="input.firstName" style="color:white;font-family: Raleway !important;border-bottom : 0 !important;font-size:18px;" required>
		          <label for="firstName" style="font-family: Raleway !important;color:white;font-size:18px;">First Name</label>
		          <p ng-show="myForm.firstName.$error.required && submitted" style="color:#403E3E;margin-bottom:2px !important;font-family: Raleway !important;font-weight: bold;">* First Name is required</p>
		        </div>
		      </div>
		      <div class="row" style="border:none;">
		        <div class="input-field col s12" style="border:none;">
		          <input id="lastName" name="lastName" type="text" ng-model="input.lastName" style="color:white;font-family: Raleway !important;border-bottom : 0 !important;font-size:18px;"required>
		          <label for="lastName" style="font-family: Raleway !important;color:white;font-size:18px;">Last Name</label>
		          <p ng-show="myForm.lastName.$error.required && submitted" style="color:#403E3E;margin-bottom:2px !important;font-family: Raleway !important;font-weight: bold;">* Last Name is required</p>
		        </div>
		      </div>
		      <div class="row" style="border:none;">
			      	<div class="col s12" style="border:none;" >
			      		<button type="submit" style="font-family: Raleway !important;color:white !important; font-size: 18px; float: right !important;" class="button waves-effect button-clear"><b>NEXT &nbsp;<i class="ion-arrow-right-c"></i></b></button>
			      	</div>
		      </div>
		    </form>
		  </div>
    </ion-content>
</ion-view>
