<ion-view hide-nav-bar="true">
	<img src="img/edit1.jpg" style="height: 100%;width: 100%;"/>
    <ion-content class="animated slideIn" scroll="false">
    	<ul class="progress-indicator" style="margin-top:10%;">
		  <li class="completed"> <span class="bubble"></span><b style="font-family: Raleway !important;color:#A71E1E;"> Step 1 </b></li>
		  <li class="completed"> <span class="bubble"></span><b style="font-family: Raleway !important;color:#A71E1E;"> Step 2 </b></li>
		  <li class="completed"> <span class="bubble"></span><b style="font-family: Raleway !important;color:#A71E1E;"> Step 3 </b></li>
		  <li> <span class="bubble"></span><b style="font-family: Raleway !important;color:#A71E1E;"> Step 4 </b></li>
		</ul>
		<div class="card" style="border:none;background-color: #A71E1E !important;margin: 30% 4% 0 4% !important;border-radius:5% !important;">
		    <form class="col s12" name="myForm" style="border:none;" ng-submit="setPassword(myForm.$valid,input)" novalidate>
		        <div class="row" style="border:none;margin-top: 10%;">
		          <div class="input-field col s6" style="border:none;">
		           <input id="subdomain" name="subdomain" type="text" ng-model="input.subdomain" style="color:white;font-family: Raleway !important;border-bottom : 0 !important;font-size: 18px;" placeholder="Get a URL"required>
		           <p ng-show="myForm.subdomain.$error.required && submitted" style="color:#403E3E;font-family: Raleway !important;">* Sub Domain is required</p>
		           
		          </div>
		          <div class="col s6" style="border:none;margin-top: 12%;margin-left: -5% !important;" >
		      		<span style="font-family: Raleway !important;font-size: 18px;color:white;"><b>.osprey.space &nbsp;</b></span>
		      	  </div>
		        </div>
		        <div class="row" style="border:none;">
			      	<div class="col s12" style="border:none;" >
			      		<button type="submit" style="font-family: Raleway !important;color:white !important; font-size: 18px; float: right !important;" class="button waves-effect button-clear"><b>NEXT &nbsp;<i class="ion-arrow-right-c"></i></b></button>
			      	</div>
		      </div>
		    </form>
		</div>
    </ion-content>
</ion-view>
