<ion-view hide-nav-bar="true">
	<img src="img/edit1.jpg" style="height: 100%;width: 100%;"/>
    <ion-content class="animated slideIn" scroll="false">
    	<ul class="progress-indicator" style="margin-top:10%;">
		  <li class="completed"> <span class="bubble"></span><b style="font-family: Raleway !important;color:white;"> Step 1 </b></li>
		  <li> <span class="bubble"></span><b style="font-family: Raleway !important;color:white;"> Step 2 </b></li>
		  <li> <span class="bubble"></span><b style="font-family: Raleway !important;color:white;"> Step 3 </b></li>
		  <li> <span class="bubble"></span><b style="font-family: Raleway !important;color:white;"> Step 4 </b></li>
		</ul>

    	<div class="card" style="border:none;background-color: #048C94 !important;margin: 30% 4% 0 4% !important;border-radius:5% !important;" >
		    <form class="col s12" name="myForm" style="border:none;" ng-submit="submitUserInfo(myForm.$valid,input)" novalidate>
		    	
		      <div class="row" style="border:none;">
		        <div class="input-field col s12" style="border:none;margin-top:10%;">
		          <input id="email" name="email" type="email" ng-model="input.email" style="color:white;font-family: Raleway !important;border-bottom : 0 !important;font-size:18px;" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" ng-blur="uniqueEmail(input.email);" required>
		          <label for="email" style="font-family: Raleway !important;color:white;font-size:18px;">Email Address</label>
		          <p ng-show="myForm.email.$error.required && submitted" style="color:#403E3E;margin-bottom:2px !important;font-family: Raleway !important;font-weight: bold;">* Email is required</p>
		          <p ng-show="myForm.email.$invalid && !myForm.email.$pristine && submitted" style="color:#403E3E;margin-bottom:2px !important;font-family: Raleway !important;font-weight: bold;">* Email must be a valid email address</p>
		        </div>
		      </div>
		      <div class="row" style="border:none;margin-top: 10%;">
		        <div class="input-field col s12" style="border:none;">
		          <input id="mobile" name="mobile" type="tel" ng-model="input.mobile" style="color:white;font-family: sans-serif !important;border-bottom : 0 !important;font-size:18px;" required>
		          <label for="mobile" style="font-family: Raleway !important;color:white;font-size:18px;">Mobile Number</label>
		          <p ng-show="myForm.mobile.$error.required && submitted" style="color:#403E3E;margin-bottom:2px !important;font-family: Raleway !important;font-weight: bold;">* Mobile is required</p>
		        </div>
		      </div>
		      <div class="row" style="border:none;">
			      	<div class="col s12" style="border:none;" >
			      		<button type="submit" style="font-family: Raleway !important;color:white !important; font-size: 18px; float: right !important;" class="button waves-effect button-clear"><b>NEXT &nbsp;<i class="ion-arrow-right-c"></i></b></button>
			      	</div>
		        </div>
		    </form>
		  </div>
    </ion-content>
    <ion-footer-bar class="bar bar-dark" style="background-color: #025A53 !important;" >
       <div class="button-bar" style="background-color: #025A53 !important;" >
			<button class="button waves-effect button-dark icon-left" ng-click="login();" style="font-family: Raleway !important;font-size: 18px !important;font-weight: bold;background-color: #025A53 !important;"><i class="ion-log-in" style="font-size: 25px;">&nbsp;</i><b>Sign In</b></button>
		</div>
	</ion-footer-bar>
</ion-view>
