<ion-view hide-nav-bar="true">
	<img src="img/edit1.jpg" style="height: 100%;width: 100%;"/>
    <ion-content class="animated slideIn">
    	<img src="img/logo20.png" style="margin: 20% 0% 0% 37%;width:100px !important;"/>
    	<h5 style="font-family: Raleway !important;color:white !important;margin: 1% auto 0% 40%;width:100px !important;">Osprey</h5>
    	<div class="card" style="border:none;background-color: #048C94 !important;margin: 10% 4% 0 4% !important;border-radius:5% !important;">
		    <form class="col s12" name="myForm" style="border:none;" ng-submit="forgotPassword(myForm.$valid,number);" novalidate>
		    	<span style="color:white;font-family: Raleway !important;margin-left: 4%;">An email will be sent to your registered email id.</span>
		    	<div class="row" style="border:none;">
			        <div class="input-field col s12" style="border:none;">
			          <input id="number" name="number" type="tel" ng-model="number" style="color:white;font-family: Raleway !important;" ng-pattern="/^(\d)+$/" disabled required>
			        </div>
		        </div>
			      <div class="row" style="border:none;">
			      	<div class="col s12" style="border:none;">
			      		<button type="submit" style="font-family: Raleway !important; font-size: 25px; float:right !important;color:white !important;" class="button waves-effect button-clear"><b>Send &nbsp;<i class="ion-arrow-right-a"></i></b></button>
			      	</div>
			      </div>
		    </form>
		</div>
    </ion-content>
</ion-view>
