<ion-view hide-nav-bar="true">
	<img src="img/edit1.jpg" style="height: 100%;width: 100%;"/>
    <ion-content class="animated slideIn" scroll="false">
    	<img src="img/logo20.png" style="margin: 10% 0% 0% 37%;width:100px !important;"/>
    	<h5 style="font-family: Raleway !important;color:white !important;margin: 1% auto 0% 40%;width:100px !important;">Osprey</h5>
    	<div class="card" style="border:none;background-color: #048C94 !important;margin: 4% 4% 0 4% !important;border-radius:5% !important;" >
		  <form class="col s12" name="myForm" style="border:none;"  ng-submit="generateOtp(myForm.$valid,input)" novalidate>
		    <div class="row" style="border:none;margin-top: 5%;">
		        <div class="input-field col s12" style="border:none;" >
		          <input id="contactNumber" name="contactNumber" type="tel" ng-model="input.contactNumber" style="font-family: sans-serif !important;color:white !important;border-bottom : 0 !important;font-size:18px;" ng-pattern="/^(\d)+$/" required>
		          <label for="contactNumber" style="font-family: Raleway !important;color:white !important;font-size:18px; ">Phone</label>
                    <p style="color:#403E3E;font-family: Raleway !important;font-weight: bold;" ng-show="myForm.contactNumber.$error.required && submitted">Number is required</p>
		        </div>
		    </div>
		    <div class="row" style="border:none;">
		      	<div class="col s12" style="border:none;" >
		      		<button type="submit" style="font-family: Raleway !important;color:white !important; font-size: 18px; float: right !important;" class="button waves-effect button-clear"><b>NEXT &nbsp;<i class="ion-arrow-right-c"></i></b></button>
		      	</div>
	        </div>
		   </form>
		  </div>
    </ion-content>
    <ion-footer-bar class="bar bar-dark " style="background-color: #025A53 !important;" >
		<div class="button-bar " style="background-color: #025A53 !important;">
			<button class="button waves-effect button-dark icon-left " ng-click="signup();" style="font-family: Raleway !important;font-size: 18px !important;font-weight: bold;background-color: #025A53 !important;"><i class="ion-plus-circled" style="font-size: 25px;">&nbsp;&nbsp;</i><b>Register</b></button>
		</div>
	</ion-footer-bar>
</ion-view>
