<ion-view hide-nav-bar="true">
	<img src="img/edit2.jpg" style="height: 100%;width: 100%;"/>
    <ion-content class="animated slideIn" scroll="false">
    	<img src="img/logo16.png" style="margin: 10% 0% 0% 37%;width:100px !important;"/>
    	<h5 style="font-family: Raleway !important;color:white !important;margin: 1% auto 0% 40%;width:100px !important;">Osprey</h5>
    	<div class="card" style="border:none;background-color: #A71E1E !important;margin: 10% 4% 0 4% !important;border-radius:5% !important;" ng-if="firstTimeLogin">
		    <form class="col s12" name="myForm" style="border:none;" ng-submit="login(myForm.$valid,input)" novalidate>
		        <div class="row" style="border:none;margin-top: 5%;">
			        <div class="input-field col s12 item-icon-right" style="border:none;">
			           <i class="icon ion-eye" on-tap="showPassword = !showPassword" style="font-size: 20px;padding-bottom: 15px;color:white;"></i>
			            <input type="password" name="password" id="password" ng-model="input.password" ng-hide="showPassword" style="border-bottom : 0 !important;font-size:18px;" required>
			            <input type="text" name="password" id="passwordRaw" ng-model="input.password" ng-show="showPassword" style="border-bottom : 0 !important;font-size:18px;color:white !important;" required>
			            <label for="password" style="font-family: Raleway !important;color: white !important;font-size:18px;">Password</label>
			            <p ng-show="myForm.password.$error.required && submitted" style="color:#403E3E;font-family: Raleway !important;">* Password is required</p>
		       		</div>
		        </div>
		        <div class="row" style="border:none;margin-top: 10%;">
			        <div class="input-field col s12 item-icon-right" style="border:none;">
			           <i class="icon ion-eye" on-tap="showPassword = !showPassword" style="font-size: 20px;padding-bottom: 15px;color:white;"></i>
			            <input id="confirmPassword" name="confirmPassword" type="password" ng-model="input.confirmPassword" ng-hide="showPassword" style="border-bottom : 0 !important;font-size:18px;" required ng-blur="validatePassword(input.password,input.confirmPassword);">
			            <input id="confirmPasswordRaw" name="confirmPassword" type="text" ng-model="input.confirmPassword" ng-show="showPassword" style="border-bottom : 0 !important;font-size:18px;color:white !important;" required ng-blur="validatePassword(input.password,input.confirmPassword);">
			            <label for="confirmPassword" style="font-family: Raleway !important;color:white;font-size:18px;">Confirm New Password</label>
			            <p ng-show="myForm.confirmPassword.$error.required && submitted" style="color:#403E3E;font-family: Raleway !important;">* Password is required</p>
			            <p ng-show="showError" style="color:#403E3E;font-family: Raleway !important;">* Passwords don't match</p>
		       		</div>
		        </div>
		        <div class="row" style="border:none;">
			      	<div class="col s12" style="border:none;" >
			      		<button type="submit" style="font-family: Raleway !important;color:white !important; font-size: 18px; float: right !important;padding: 0 4% 0 0!important;" class="button waves-effect button-clear"><b>LOGIN &nbsp;<i class="ion-arrow-right-c"></i></b></button>
			      	</div>
		        </div>
		    </form>
		  </div>

		  <!-- second device login time -->
		  <div class="card" style="border:none;background-color: #A71E1E !important;margin: 10% 4% 0 4% !important;border-radius:5% !important;" ng-if="deviceChange">
		    <form class="col s12" name="myForm" style="border:none;" ng-submit="login(myForm.$valid,input)"  novalidate>
		        <div class="row" style="border:none;">
			        <div class="input-field col s12 item-icon-right" style="border:none;">
			           <i class="icon ion-eye" on-tap="showPassword = !showPassword" style="font-size: 20px;padding-bottom: 15px;color: white;"></i>
			            <input type="password" name="password" id="password" ng-model="input.password" ng-hide="showPassword" style="border-bottom : 0 !important;font-size: 18px;color:white !important;" required>
			            <input type="text" name="password" id="passwordRaw" ng-model="input.password" ng-show="showPassword" style="border-bottom : 0 !important;font-size: 18px;color:white !important;" required>
			            <label for="password" style="font-family: Raleway !important;font-size: 18px;color:white !important;">Password</label>
			            <p ng-show="myForm.password.$error.required  && submitted" style="color:#403E3E;font-family: Raleway !important;font-weight:bold;">* Password is required</p>
		       		</div>
		        </div>
		        <div class="row" style="border:none;">
			        <div class="input-field col s12 item-icon-right" style="border:none;">
			           <i class="icon ion-eye" on-tap="showPassword = !showPassword" style="font-size: 20px;padding-bottom: 15px;color: white;"></i>
			            <input id="confirmPassword" name="confirmPassword" type="password" ng-model="input.confirmPassword" style="border-bottom : 0 !important;font-size: 18px;color:white !important;" ng-hide="showPassword" required ng-blur="validatePassword(input.password,input.confirmPassword);">
			            <input id="confirmPasswordRaw" name="confirmPassword" type="text" ng-model="input.confirmPassword" style="border-bottom : 0 !important;font-size: 18px;color:white !important;" ng-show="showPassword" required ng-blur="validatePassword(input.password,input.confirmPassword);">
			            <label for="confirmPassword" style="font-family: Raleway !important;font-size: 18px;color:white !important;">Confirm New Password</label>
			            <p ng-show="myForm.confirmPassword.$error.required  && submitted" style="color:#403E3E;font-family: Raleway !important;">* Password is required</p>
			            <p ng-show="showError" style="color:#403E3E;font-family: Raleway !important;">* Passwords don't match</p>
		       		</div>
		        </div>
		        <div class="row" style="border:none;">
			      	<div class="col s12" style="border:none;">
			      		<button type="submit" style="font-family: Raleway !important; font-size: 18px; float: right !important;color: white !important;" class="button waves-effect button-clear" ng-disabled="showError"><b>LOGIN &nbsp;<i class="ion-arrow-right-c"></i></b></button>
			      	</div>
		        </div>
		    </form>
		  </div>
    </ion-content>
</ion-view>
