<ion-view hide-nav-bar="true">
    <ion-content ng-class="{'slide1' : setFirstSlide, 'slide8' : setSecondSlide, 'slide3' : setThirdSlide, 'slide2' : setFourthSlide}" scroll="false">
    	<span style="margin-top:2%;margin-left:2%;margin-right: 1%;"><i class="ion-location" style="font-size: 34px;color:white;"></i></span>
	 	<span style="font-family: Raleway !important;font-size:24px !important" ng-class="{'slide1' : setFirstSlide, 'slide8' : setSecondSlide, 'slide3' : setThirdSlide, 'slide2' : setFourthSlide}"><b>Osprey</b></span>
	 	<br/>
    	<div id="register-info" style="margin-top: 20%;">
    	  <ion-slide-box on-slide-changed="slideChanged(index)">
	          <ion-slide>
	          	<img src="img/logo15.png" style="width:100px !important;"/>
	            <h4 style="font-family: Raleway !important;" ng-class="{'slide1' : setFirstSlide, 'slide8' : setSecondSlide, 'slide3' : setThirdSlide, 'slide2' : setFourthSlide}">Welcome to Osprey</h4>
	            <p style="font-family: Raleway !important;">Track any type of fleet</p>
	          </ion-slide>
	          <ion-slide>
	          	 <img src="img/logo16.png" style="width:100px !important;"/>
	             <h4 style="font-family: Raleway !important;" ng-class="{'slide1' : setFirstSlide, 'slide8' : setSecondSlide, 'slide3' : setThirdSlide, 'slide2' : setFourthSlide}">Get notifications for tasks to be performed</h4>
	          </ion-slide>
	          <ion-slide>
	          	 <img src="img/logo17.png" style="width:100px !important;"/>
	             <h4 style="font-family: Raleway !important;" ng-class="{'slide1' : setFirstSlide, 'slide8' : setSecondSlide, 'slide3' : setThirdSlide, 'slide2' : setFourthSlide}">Find directions to your destination</h4>
	          </ion-slide>
	          <ion-slide>
	          	<img src="img/logo18.png" style="width:100px !important;"/>
	           	<h4 style="font-family: Raleway !important;" ng-class="{'slide1' : setFirstSlide, 'slide8' : setSecondSlide, 'slide3' : setThirdSlide, 'slide2' : setFourthSlide}">Sign In to enjoy the app</h4>
	          </ion-slide>
          </ion-slide-box>
        </div>
	   <br>
    </ion-content>
    <ion-footer-bar class="bar bar-dark" ng-class="{'slide4' : setFirstSlide, 'slide9' : setSecondSlide, 'slide6' : setThirdSlide, 'slide5' : setFourthSlide}" ng-if="!hide">
       <div class="button-bar" ng-class="{'slide4' : setFirstSlide, 'slide9' : setSecondSlide, 'slide6' : setThirdSlide, 'slide5' : setFourthSlide}">
			<div class="button icon-left" ng-click="login();" style="font-family: Raleway !important;font-size: 18px !important;font-weight: bold; " ng-class="{'slide4' : setFirstSlide, 'slide9' : setSecondSlide, 'slide6' : setThirdSlide, 'slide5' : setFourthSlide}"><i class="ion-log-in" style="font-size: 25px;">&nbsp;&nbsp;</i>Sign In</div>
			<div class="button icon-left" ng-click="signup();" style="font-family: Raleway !important;font-size: 18px !important;font-weight: bold;" ng-class="{'slide4' : setFirstSlide, 'slide9' : setSecondSlide, 'slide6' : setThirdSlide, 'slide5' : setFourthSlide}"><b><i class="ion-plus-circled" style="font-size: 25px;">&nbsp;&nbsp;</i></b>Register</div>
		</div>
	</ion-footer-bar>
</ion-view>