<ion-view class="slide1" view-title="Osprey">
    <ion-content class="animated slideIn" scroll="false">
	   <div style="text-align:center;font-size: 60px;padding-top:20%">
	      <b style="font-family: Raleway !important;"></b>
	   </div>
    </ion-content>
</ion-view>
