<ion-view class="slide1" view-title="Find Route">
  <ion-nav-title>
    <h5 style="font-family: Raleway !important;color:white !important;font-size:18px !important;">Find Route
      <span ng-switch="switchHelper(percent)">
        <span style="float:right;font-family: sans-serif !important;color:white !important;" ng-switch-when="0">{{percent}} <i class="icon ion-battery-full"></i></span>
        <span style="float:right;font-family: sans-serif !important;color:white !important;" ng-switch-when="1">{{percent}} <i class="icon ion-battery-half"></i></span>
        <span style="float:right;font-family: sans-serif !important;color:white !important;" ng-switch-when="2">{{percent}} <i class="icon ion-battery-low"></i></span>
      </span>
    </h5>
  </ion-nav-title>
  <ion-content scroll="true">
        <div class="row" style="border:none;padding:0 !important;">
          <form class="col s12" name="myForm" style="border:none;" novalidate>
            <div class="row" style="border:none;">
              <div class="input-field col s12" style="border:none;">
                <input id="address1" name="address1" type="text" ng-model="input.address1" style="color:white;font-family: Raleway !important;font-weight:bold;" required>
                <label for="address1" style="color:white;font-family: Raleway !important;font-weight:bold;">Start Point</label>
              </div>
            </div>
            <div class="row" style="border:none;padding:0 !important;">
              <div class="input-field col s12" style="border:none;">
                <input id="address2" name="address2" type="text" ng-model="input.address2" style="color:white;font-family: Raleway !important;font-weight:bold;" required>
                <label for="address1" style="color:white;font-family: Raleway !important;font-weight:bold;">End Point</label>
              </div>
            </div>
            <div class="row" style="border:none;padding:0 !important;">
              <div class="col s12" style="border:none;" >
                <button type="button" style="font-family: Raleway !important; font-size: 25px; float: right !important;" class="button waves-effect button-clear" ng-click="submit(input);"><b>Find &nbsp;<i class="ion-arrow-right-a"></i></b></button>
              </div>
          </div>
          </form>
        </div>
          <div id="routeMap" style="width: 100%; height: 30%;"></div> 
          <div id="panel" style="width: 100%;float: right;font-family: Raleway !important;color:white;"></div>
  </ion-content>
</ion-view>