<ion-view>
  <ion-nav-title>
	    <h5 style="font-family: Raleway !important;color:white !important;font-size:18px !important;">Chats
	    	<span ng-switch="switchHelper(percent)">
          <span style="float:right;font-family: sans-serif !important;color:white !important;" ng-switch-when="0">{{percent}} <i class="icon ion-battery-full"></i></span>
          <span style="float:right;font-family: sans-serif !important;color:white !important;" ng-switch-when="1">{{percent}} <i class="icon ion-battery-half"></i></span>
          <span style="float:right;font-family: sans-serif !important;color:white !important;" ng-switch-when="2">{{percent}} <i class="icon ion-battery-low"></i></span>
        </span>
	    </h5>
	</ion-nav-title>
  <ion-content class="content-stable slide1" scroll="true">
      <div ng-repeat="message in messages"
           class="messages" ng-class="{other: message.SentFrom === 'user'}">
        <div class="message">
          <span id="content">{{ message.Message }}</span>
        </div>
      </div>
    </ion-content>
  <ion-footer-bar keyboard-attach class="bar-stable item-input-inset">
      <label class="item-input-wrapper">
        <input type="text" placeholder="Type your message" ng-model="message" on-focus="inputUp()" on-blur="inputDown()" style="margin:0 !important;"/>
      </label>
      <button class="button button-clear" ng-click="sendMessage();">
        Send
      </button>
    </ion-footer-bar>
</ion-view>