<ion-view class="slide1" hide-nav-bar="false">
	<ion-nav-title>
	    <h5 style="font-family: Raleway !important;color:white !important;font-size:18px !important;">My Profile
	    	<span ng-switch="switchHelper(percent)">
	          <span style="float:right;font-family: sans-serif !important;color:white !important;" ng-switch-when="0">{{percent}} <i class="icon ion-battery-full"></i></span>
	          <span style="float:right;font-family: sans-serif !important;color:white !important;" ng-switch-when="1">{{percent}} <i class="icon ion-battery-half"></i></span>
	          <span style="float:right;font-family: sans-serif !important;color:white !important;" ng-switch-when="2">{{percent}} <i class="icon ion-battery-low"></i></span>
	        </span>
	    </h5>
	</ion-nav-title>
    <ion-content class="animated slideIn">
	    <div id="profile-info" ng-if="!viewImage">
          <!-- <img id="profile-image" src="img/google_maps.png"> -->
          <img id="profile-image" ng-src="http://192.241.86.4/{{imageUrl}}" alt="Description" ngf-select="upload($file);"/>
          <h3 id="profile-name" style="color:white;font-family: Raleway !important;font-weight:bold;"><i>{{firstName}}</i></h3>
        </div>
        <div id="profile-info" ng-if="viewImage">
          <img id="profile-image" src="img/user.png" alt="Description" ngf-select="upload($file);"/>
          <h3 id="profile-name" style="color:white;font-family: Raleway !important;font-weight:bold;"><i>{{firstName}}</i></h3>
        </div>
    	<div class="row" style="border:none;">
		    <form class="col s12" name="myForm" style="border:none;" novalidate>
		      
		      <div class="row" style="border:none;">
		        <div class="input-text col s12" style="border:none;">
		          <input id="firstName" name="firstName" type="text" ng-model="input.firstName" style="color:white;font-family: Raleway !important;" required>
		          <label for="firstName" style="top: -1.2rem !important;color:white;font-family: Raleway !important;font-weight:bold;">First Name</label>
		        </div>
		      </div>
		      <div class="row" style="border:none;">
		        <div class="input-text col s12" style="border:none;">
		          <input id="lastName" name="lastName" type="text" ng-model="input.lastName" style="color:white;font-family: Raleway !important;" required>
		          <label for="lastName" style="top: -1.2rem !important;color:white;font-family: Raleway !important;font-weight:bold;">Last Name</label>
		        </div>
		      </div>
		      <div class="row" style="border:none;">
		        <div class="input-text col s12" style="border:none;cursor:no-drop;">
		          <input id="department" name="department" type="text" ng-model="input.department" style="cursor:no-drop;color:white;font-family: Raleway !important;" disabled required>
		          <label for="department" style="top: -1.2rem !important;color:white;font-family: Raleway !important;font-weight:bold;">Department</label>
		        </div>
		      </div>
		      <div class="row" style="border:none;">
		        <div class="input-text col s12" style="border:none;cursor:no-drop;">
		          <input id="email" name="email" type="text" ng-model="input.email" style="color:white;cursor:no-drop;font-family: Raleway !important;" disabled required>
		          <label for="email" style="top: -1.2rem !important;color:white;font-family: Raleway !important;font-weight:bold;">Email</label>
		        </div>
		      </div>
		      <div class="row" style="border:none;">
		        <div class="input-text col s12" style="border:none;cursor:no-drop;">
		          <input id="phone" name="phone" type="text" ng-model="input.phone" style="cursor:no-drop;color:white;font-family: sans-serif !important;" disabled required>
		          <label for="phone" style="top: -1.2rem !important;color:white;font-family: Raleway !important;font-weight:bold;">Phone</label>
		        </div>
		      </div>
		      <div class="row" style="border:none;">
		        <div class="input-text col s12" style="border:none;">
		          <input id="presentAddress" name="presentAddress" type="text" ng-model="input.presentAddress" style="color:white;font-family: Raleway !important;"  required>
		          <label for="presentAddress" style="top: -1.2rem !important;color:white;font-family: Raleway !important;font-weight:bold;">Present Address</label>
		        </div>
		      </div>
		      <div class="row" style="border:none;">
		        <div class="input-text col s12" style="border:none;">
		          <input id="permanentAddress" name="permanentAddress" type="text" ng-model="input.permanentAddress" style="color:white;font-family: Raleway !important;" required>
		          <label for="permanentAddress" style="top: -1.2rem !important;color:white;font-family: Raleway !important;font-weight:bold;">Permanent Address</label>
		        </div>
		      </div>
		      <div class="row" style="border:none;">
		      	<div class="col s12" style="border:none;" >
		      		<button type="button" style="font-family: Raleway !important; font-size: 25px; float: right !important;" class="button waves-effect button-clear" ng-disabled="myForm.$invalid" ng-click="submitUserInfo(input);"><b>Update &nbsp;<i class="ion-arrow-right-a"></i></b></button>
		      	</div>
		      </div>
		    </form>
		  </div>
    </ion-content>
</ion-view>
