<ion-view style="background: #8CC0F1;">
  <ion-nav-title>
      <h5 style="font-family: Raleway !important;color:white !important;font-size:16px !important;">Assigned Tasks
        <span ng-switch="switchHelper(percent)">
          <span style="float:right;font-family: sans-serif !important;color:white !important;" ng-switch-when="0">{{percent}} <i class="icon ion-battery-full"></i></span>
          <span style="float:right;font-family: sans-serif !important;color:white !important;" ng-switch-when="1">{{percent}} <i class="icon ion-battery-half"></i></span>
          <span style="float:right;font-family: sans-serif !important;color:white !important;" ng-switch-when="2">{{percent}} <i class="icon ion-battery-low"></i></span>
        </span>
      </h5>
  </ion-nav-title>
  <ion-content style="top: 10% !important;" class="animated slideIn">
     <form ng-if="showDiv">
        <div class="form-group" >
            <div class="input-group" style="width: 40%;margin-left: 3%;">
            <div class="input-group-addon">
              <input type="text" class="form-control" placeholder="Search" ng-model="search" style="color:white !important;">
            </div>
          </div>      
        </div>
      </form>
      <div style="margin: 20px 10px;font-family:Raleway;font-size: 30px;color: black;" ng-if="result === 'undefined' || result === undefined"><center>No tasks found!!!</center></div>
      <div ng-repeat="data in result | orderBy :'-createdDate'" ng-if="(data.taskReportStatus === 0)  && (showAssigned[data.taskId] === true)">
        <div class="card" style="margin: 20px 10px;" ng-click="navigate(data.taskId);">
          <div class="item item-text-wrap" style="padding:0;">
            <div class="row" style="padding:0;">
               <div class="col col-20" style="padding:10px;color: white;font-family: Raleway !important;font-weight: bold;background-color: #337ab7;" ng-if="data.taskReportStatus === 0">
                <p><center>{{data.createdDate | monthFormat}}</center></p>
                <p><center style="font-family: sans-serif !important;">{{data.createdDate | dayFormat}}</center></p>
              </div>
              <div class="col col-60" style="padding:10px;">
                <p>{{data.taskName}}</p>
                <p>{{data.taskDescription}}</p>
              </div>
              <div class="col col-20" style="padding-top: 5%;">
                <center><i class="icon ion-information-circled" style="font-size:30px;color:#337ab7;"></i></center>
              </div>
            </div>
          </div>
        </div>
      </div>
  </ion-content>
</ion-view>