<ion-view class="slide1">
  <ion-nav-title>
      <h5 style="font-family: Raleway !important;color:white !important;font-size:16px !important;">
        Task
        <span ng-switch="switchHelper(percent)">
          <span style="float:right;font-family: sans-serif !important;color:white !important;" ng-switch-when="0">{{percent}} <i class="icon ion-battery-full"></i></span>
          <span style="float:right;font-family: sans-serif !important;color:white !important;" ng-switch-when="1">{{percent}} <i class="icon ion-battery-half"></i></span>
          <span style="float:right;font-family: sans-serif !important;color:white !important;" ng-switch-when="2">{{percent}} <i class="icon ion-battery-low"></i></span>
        </span>
      </h5>
  </ion-nav-title>
  <ion-content class="animated slideIn" scroll="false">
    <div class="row">
      <div class="col col-50"><b>Task Name :</b></div>
      <div class="col col-50"><b>{{taskName}}</b></div>
    </div>
    <br>
    <div class="row">
      <div class="col col-50"><b>Description :</b></div>
      <div class="col col-50"><b>{{taskDescription}}</b></div>
    </div>
    <br>
    <div class="row">
      <div class="col col-50"><b>Time(Hours) :</b></div>
      <div class="col col-50"><b style="font-family: sans-serif !important;">{{taskCompletionTime}}</b></div>
    </div>
    <br>
    <div class="row">
      <div class="col col-50"><b>Created Date :</b></div>
      <div class="col col-50"><b style="font-family: sans-serif !important;">{{createdDate}}</b></div>
    </div>
    <br>
    <div class="row" ng-if="taskReportStatus === 0">
      <div class="col col-75">
        <button class="waves-effect waves-light btn" ng-click="getTaskId(taskId);">Upload Report</button>
      </div>
    </div>
  </ion-content>
</ion-view>