<ion-view class="slide1">
  <ion-nav-title>
    <h5 style="font-family: Raleway !important;color:white !important;font-size:18px !important;">Upload Report
    	<span ng-switch="switchHelper(percent)">
          <span style="float:right;font-family: sans-serif !important;color:white !important;" ng-switch-when="0">{{percent}} <i class="icon ion-battery-full"></i></span>
          <span style="float:right;font-family: sans-serif !important;color:white !important;" ng-switch-when="1">{{percent}} <i class="icon ion-battery-half"></i></span>
          <span style="float:right;font-family: sans-serif !important;color:white !important;" ng-switch-when="2">{{percent}} <i class="icon ion-battery-low"></i></span>
      </span>
    </h5>
  </ion-nav-title>
  <ion-content scroll="false">
  		<div class="row" style="border:none;">
  			<input type="text" class="form-control" placeholder="Description" ng-model="description" style="font-family: Raleway !important;color:white !important;"/>
  		</div>
  		<br/>
      <div class="row" style="border:none;">
          <div class="col s12" style="border:none;">
            <button type="submit" style="font-family: Raleway !important; font-size: 20px; float: right !important;" class="button waves-effect button-clear" ngf-select="upload($file,description)"><b>Upload &nbsp;<i class="ion-arrow-right-a"></i></b></button>
          </div>
      </div>
   </ion-content>
</ion-view>