<ion-tabs class="tabs-striped tabs-top tabs-background-positive tabs-color-light">  

  <ion-tab title="Assigned" ui-sref="app.tabs.assignedTasks">
    <ion-nav-view name="tab-assignedTasks">Assigned</ion-nav-view>
  </ion-tab>

  <ion-tab title="Completed" ui-sref="app.tabs.completedTasks">
    <ion-nav-view name="tab-completedTasks">Completed</ion-nav-view>
  </ion-tab>

  <ion-tab title="Overdue" ui-sref="app.tabs.overdueTasks">
    <ion-nav-view name="tab-overdueTasks">Overdue</ion-nav-view>
  </ion-tab>

</ion-tabs>