<ion-view hide-nav-bar="false">
  <img src="img/edit2.jpg" style="height: 100%;width: 100%;"/>
	<ion-nav-title>
	    <h5 style="font-family: Raleway !important;color:white !important;font-size:18px !important;">Rate Us
	    	<span ng-switch="switchHelper(percent)">
          <span style="float:right;font-family: sans-serif !important;color:white !important;" ng-switch-when="0">{{percent}} <i class="icon ion-battery-full"></i></span>
          <span style="float:right;font-family: sans-serif !important;color:white !important;" ng-switch-when="1">{{percent}} <i class="icon ion-battery-half"></i></span>
          <span style="float:right;font-family: sans-serif !important;color:white !important;" ng-switch-when="2">{{percent}} <i class="icon ion-battery-low"></i></span>
        </span>
	    </h5>
	</ion-nav-title>
    <ion-content class="animated slideIn" scroll="false">
        <img src="img/logo20.png" style="margin: 10% 0% 0% 37%;width:100px !important;"/>
        <h5 style="font-family: Raleway !important;color:white !important;margin: 1% auto 0% 40%;width:100px !important;">Osprey</h5>
    	  <div class="card" style="border:none;background-color: #048C94 !important;margin: 4% 4% 0 4% !important;border-radius:5% !important;">
          <div class="padding text-center">
            <h5 style="font-family: Raleway !important;color:white !important;">How was your experience</h5>
            <div>
              <span style="color:white; font-family: Raleway !important;"> Bad </span>
              <a href="javascript:" ng-repeat="r in ratingArr" style="text-decoration:none;">
                <i class="icon {{r.icon}}" style="font-size:30px;color: white;padding: 5px;" ng-click="setRating(r.rating,r.value)"></i>
              </a>
              <span style="color:white; font-family: Raleway !important;"> Good </span>
            </div>
            <br>
            <div class="row" style="border:none;">
                <div class="input-field col s12" style="border:none;" >
                  <input id="comments" name="comments" type="text" ng-model="input.comment" style="font-family: Raleway !important;color:white !important;border-bottom : 0 !important;font-size:18px;" required>
                  <label for="comments" style="font-family: Raleway !important;color:white !important;font-size:18px; ">Comments</label>
                </div>
            </div>
            <br
            <div class="row" style="border:none;">
              <div class="col s12" style="border:none;" >
                <button type="submit" style="font-family: Raleway !important;color:white !important; font-size: 18px; float: right !important;" class="button waves-effect button-clear" ng-click="submit(input);"><b>Submit &nbsp;<i class="ion-arrow-right-c"></i></b></button>
              </div>
            </div>
          </div>
        </div>
    </ion-content>
</ion-view>
