<ion-view hide-nav-bar="false">
    <img src="img/6.jpg" style="height: 100%;width: 100%;"/>
	<ion-nav-title>
	    <h5 style="font-family: Raleway !important;color:white !important;font-size:18px !important;">Terms
	    	<span ng-switch="switchHelper(percent)">
              <span style="float:right;font-family: sans-serif !important;color:white !important;" ng-switch-when="0">{{percent}} <i class="icon ion-battery-full"></i></span>
              <span style="float:right;font-family: sans-serif !important;color:white !important;" ng-switch-when="1">{{percent}} <i class="icon ion-battery-half"></i></span>
              <span style="float:right;font-family: sans-serif !important;color:white !important;" ng-switch-when="2">{{percent}} <i class="icon ion-battery-low"></i></span>
            </span>
	    </h5>
	</ion-nav-title>
    <ion-content class="animated slideIn">
    	<p style="font-family: Raleway !important;color:#040B75 !important;margin-left: 4%;margin-right: 4%;margin-top: 4%;font-weight: bolder;">
    		Osprey owns and is responsible for the osprey.space website (“Site”). The information on the Site has been prepared by Osprey for general informational purposes as a service to its visitors. Use of the Site is expressly subject to this Osprey Website Terms of Use Agreement (“Agreement”). By using the Site, you acknowledge that you have read this Agreement and that you agree to be bound by its terms. If you do not agree to its terms, please do not use the Site.
    	</p>
    	<p style="font-family: Raleway !important;color:#040B75 !important;margin-left: 4%;margin-right: 4%;font-weight: bolder;">
    		Use of the Site. You may only view, download, and print materials from the Site, subject to the following conditions:
    		<li style="font-family: Raleway !important;color:#040B75 !important;margin-left: 10%;margin-right: 2%;font-weight: bolder;">
    			the materials may be used solely for personal, non-commercial, and informational purposes;
    		</li>
    		<li style="font-family: Raleway !important;color:#040B75 !important;margin-left: 10%;margin-right: 2%;font-weight: bolder;">
    			in no event may the materials be modified or redistributed; and
    		</li>
    		<li style="font-family: Raleway !important;color:#040B75 !important;margin-left: 10%;margin-right: 2%;font-weight: bolder;">
    			you may not modify or remove any copyright and other proprietary notices contained in the materials or on any copies of the materials.
    		</li>
    	</p>
    	<p style="font-family: Raleway !important;color:#040B75 !important;margin-left: 4%;margin-right: 4%;font-weight: bolder;">
    		Any use of the Site not expressly granted herein is prohibited. You may not reproduce, republish, or publicly display, perform or distribute, or otherwise use the materials on the Site for any public or commercial purpose or prepare any modifications to or prepare derivative works based on the contents of the Site. The information on the Site is provided without any warranty regarding its accuracy, currentness, and/or reliability.
    	</p>
    	<p style="font-family: Raleway !important;color:#040B75 !important;margin-left: 4%;margin-right: 4%;font-weight: bolder;">
    		Products and Services Provided by Osprey. Osprey offers various products and services on the Site (“Products and Services”). Any and all Products and Services are subject to unique user agreements that will be presented to users during enrollment for the Products and Services (“Products and Services Agreements”). Osprey does not provide any guarantees, representations, or the like, except as provided in the Products and Services Agreements.
    	</p>
    	<p style="font-family: Raleway !important;color:#040B75 !important;margin-left: 4%;margin-right: 4%;font-weight: bolder;">
    		Copyright. The materials on the Site are the exclusive property of Osprey, copyrighted by Osprey, and are protected by US Copyright Laws and international treaties. Osprey reserves all rights in the Site and its content, not expressly granted herein.
    	</p>
    	<p style="font-family: Raleway !important;color:#040B75 !important;margin-left: 4%;margin-right: 4%;font-weight: bolder;">
    		Trademark. Osprey and Ajatus are service marks and trademarks of Osprey. Other marks, graphics, logos, page headers, button icons, and scripts noted on the Site are Osprey’s service marks, trademarks, and trade dress and are the sole and exclusive property of Osprey. Osprey’s service marks, trademarks, and trade dress may not be used in any manner. All other trademarks not owned by Osprey that appear on this Site are the property of their respective owners.
    	</p>
    	<p style="font-family: Raleway !important;color:#040B75 !important;margin-left: 4%;margin-right: 4%;font-weight: bolder;">
    		Privacy. Osprey takes privacy matters very seriously. As a result, Osprey has developed a privacy policy to inform the public of its privacy practices.
    	</p>
    	<p style="font-family: Raleway !important;color:#040B75 !important;margin-left: 4%;margin-right: 4%;font-weight: bolder;">
    		Links. The Site may contain links to other websites. Any such links do not represent an endorsement, sponsorship, or approval of the material on and/or generally of such website(s).
    	</p>
    	<p style="font-family: Raleway !important;color:#040B75 !important;margin-left: 4%;margin-right: 4%;font-weight: bolder;">
    		DISCLAIMER. THE MATERIALS ON THE SITE ARE PROVIDED “AS IS” WITHOUT ANY WARRANTIES OF ANY KIND, EXPRESS, IMPLIED, OR OTHERWISE, INCLUDING BUT NOT LIMITED TO, ANY IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR ANY PARTICULAR PURPOSE, OR NON-INFRINGEMENT OF ANY THIRD-PARTY RIGHTS. Osprey DISCLAIMS ANY AND ALL LIABILITY FROM ANY INACCURACIES CONTAINED ON THE SITE. IN NO EVENT SHALL THE SITE OR ITS EMPLOYEES BE LIABLE FOR ANY DAMAGES WHATSOEVER, INCLUDING DIRECT, INDIRECT, SPECIAL, INCIDENTAL, CONSEQUENTIAL, OR OTHER DAMAGES (INCLUDING DAMAGES FOR LOSS OF PROFITS, BUSINESS INTERRUPTION, OR LOSS OF INFORMATION) ARISING OUT OF THE USE OF OR THE INABILITY TO USE THE MATERIALS PROVIDED ON, OR OTHERWISE RELATED TO, THE SITE, WHETHER BASED ON CONTRACT, TORT, OR OTHERWISE, EVEN IF Osprey HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. CERTAIN STATES DO NOT ALLOW LIMITATIONS ON IMPLIED WARRANTIES AND/OR LIMITATIONS ON CERTAIN DAMAGES. IF ANY OF THESE LAWS APPLY TO YOU, SOME OF THE PROVISIONS IN THIS SECTION MAY NOT APPLY NOT YOU AND YOU MAY HAVE ADDITIONAL RIGHTS.
    	</p>
    	<p style="font-family: Raleway !important;color:#040B75 !important;margin-left: 4%;margin-right: 4%;font-weight: bolder;">
    		Modifications. Osprey may make changes to the Site at any time and by posting notice of a new version of the Agreement on the Site.
    	</p>
    	<p style="font-family: Raleway !important;color:#040B75 !important;margin-left: 4%;margin-right: 4%;font-weight: bolder;">
    		Applicable Law. Any disputes arising out of the use of the Site shall be governed by the laws Odisha, without regard to any conflict of laws principles, and any proceedings shall solely be brought in Bhubaneswar, Khordha.
    	</p>
    	<p style="font-family: Raleway !important;color:#040B75 !important;margin-left: 4%;margin-right: 4%;font-weight: bolder;">
    		Entire Agreement. This Legal Agreement constitutes the entire agreement between Osprey and any users of the Site, and supersedes any and all prior or contemporaneous agreements, understandings, and representations with respect to the information on and the use of the Site
    	</p>
    </ion-content>
</ion-view>
