<ion-view hide-nav-bar="false">
    <img src="img/6.png" style="height: 100%;width: 100%;"/>
	<ion-nav-title>
	    <h5 style="font-family: Raleway !important;color:white !important;font-size:18px !important;">Version
	    	<span ng-switch="switchHelper(percent)">
              <span style="float:right;font-family: sans-serif !important;color:white !important;" ng-switch-when="0">{{percent}} <i class="icon ion-battery-full"></i></span>
              <span style="float:right;font-family: sans-serif !important;color:white !important;" ng-switch-when="1">{{percent}} <i class="icon ion-battery-half"></i></span>
              <span style="float:right;font-family: sans-serif !important;color:white !important;" ng-switch-when="2">{{percent}} <i class="icon ion-battery-low"></i></span>
            </span>
	    </h5>
	</ion-nav-title>
    <ion-content class="animated slideIn">
        <div class="card" style="border:none;background-color: #148879 !important;margin: 40% 4% 0 4% !important;border-radius:5% !important;" >
            <img src="img/logo20.png" style="margin: 10% 0% 0% 37%;width:100px !important;"/>
            <h5 style="font-family: Raleway !important;color:white !important;margin: 1% auto 0% 40%;width:100px !important;">Osprey</h5>
            <p style="font-family: sans-serif !important;color:white !important;font-size:18px !important;margin: 3% auto 5% 35%;"> Version 1.0.0 </p>
        </div>
    </ion-content>
</ion-view>
