<ion-view style="background: #8CC0F1;">
  <ion-nav-title>
    <h5 style="font-family: Raleway !important;color:white !important;font-size:18px !important;">Tracking
    	<span ng-switch="switchHelper(percent)">
        <span style="float:right;font-family: sans-serif !important;color:white !important;" ng-switch-when="0">{{percent}} <i class="icon ion-battery-full"></i></span>
        <span style="float:right;font-family: sans-serif !important;color:white !important;" ng-switch-when="1">{{percent}} <i class="icon ion-battery-half"></i></span>
        <span style="float:right;font-family: sans-serif !important;color:white !important;" ng-switch-when="2">{{percent}} <i class="icon ion-battery-low"></i></span>
      </span>
    </h5>
  </ion-nav-title>
  <ion-content class="animated slideIn" scroll="false">
    <div id="map" data-tap-disabled="true"></div>
    <br/>
    <div class="card" style="margin: 10% 4%;" ng-if="resultView">
      <div style="padding:3% 3%;font-family:Raleway;font-size: 15px;color: white;background-color: #337ab7;"><center>{{text}}</center></div>
    </div>
     <ion-scroll direction="y" class="theroot">
        <div ng-repeat="data in result | limitTo : -10 | orderBy :'-createdDate'">
          <div class="card" style="margin: 20px 10px;" ng-click="navigate(data.taskId);">
            <div class="item item-text-wrap" style="padding:0;">
              <div class="row" style="padding:0;">
                <div class="col col-20" style="padding:10px;color: white;font-family: Raleway !important;font-weight: bold;background-color: #5cb85c;" ng-if="data.taskReportStatus === 1">
                  <p><center>{{data.createdDate | monthFormat}}</center></p>
                  <p><center style="font-family: sans-serif !important;">{{data.createdDate | dayFormat}}</center></p>
                </div>
                 <div class="col col-20" style="padding:10px;color: white;font-family: Raleway !important;font-weight: bold;background-color: #337ab7;" ng-if="data.taskReportStatus === 0">
                  <p><center>{{data.createdDate | monthFormat}}</center></p>
                  <p><center style="font-family: sans-serif !important;">{{data.createdDate | dayFormat}}</center></p>
                </div>
                <div class="col col-60" style="padding:10px;">
                  <p>{{data.taskName}}</p>
                  <p>{{data.taskDescription}}</p>
                </div>
                <div class="col col-20" style="padding-top: 5%;" ng-if="data.taskReportStatus === 1">
                  <center><i class="icon ion-checkmark-circled" style="font-size:30px;color:#5cb85c;"></i></center>
                </div>
                <div class="col col-20" style="padding-top: 5%;" ng-if="data.taskReportStatus === 0">
                  <center><i class="icon ion-information-circled" style="font-size:30px;color:#337ab7;"></i></center>
                </div>
              </div>
            </div>
          </div>
        </div>
     </ion-scroll>
  </ion-content>
</ion-view>