<ion-view view-title="Tracking">
  <ion-nav-title>
    <h5 style="font-family: Raleway !important;color:white !important;font-size:18px !important;">Tracking
      <span ng-switch="switchHelper(percent)">
        <span style="float:right;font-family: sans-serif !important;color:white !important;" ng-switch-when="0">{{percent}} <i class="icon ion-battery-full"></i></span>
        <span style="float:right;font-family: sans-serif !important;color:white !important;" ng-switch-when="1">{{percent}} <i class="icon ion-battery-half"></i></span>
        <span style="float:right;font-family: sans-serif !important;color:white !important;" ng-switch-when="2">{{percent}} <i class="icon ion-battery-low"></i></span>
      </span>
    </h5>
  </ion-nav-title>
  <ion-content scroll="false">
        <div id="google-map" data-tap-disabled="true"></div>
  </ion-content>
  <ion-footer-bar class="bar-dark">
      <ionic-datepicker input-obj="datepickerObjectStart" style="margin-top:-10px !important;margin-right:4px;">
      <button class="button button-block button-positive"> {{datepickerObjectStart.inputDate | date:datepickerObjectStart.dateFormat}}</button>
    </ionic-datepicker>
    <ionic-datepicker input-obj="datepickerObjectEnd" style="margin-top:-10px !important">
      <button class="button button-block button-positive"> {{datepickerObjectEnd.inputDate | date:datepickerObjectEnd.dateFormat}}</button>
    </ionic-datepicker>
    <a ng-click="centerOnMe();" class="button button-icon icon ion-navigate" style="margin-left: -6px !important;">Find</a>
  </ion-footer-bar>
</ion-view>