<ion-view>
  <ion-nav-title>
	    <h5 style="font-family: Raleway !important;color:white !important;font-size:18px !important;">Traffic Zone
	    	<span ng-switch="switchHelper(percent)">
	          <span style="float:right;font-family: sans-serif !important;color:white !important;" ng-switch-when="0">{{percent}} <i class="icon ion-battery-full"></i></span>
	          <span style="float:right;font-family: sans-serif !important;color:white !important;" ng-switch-when="1">{{percent}} <i class="icon ion-battery-half"></i></span>
	          <span style="float:right;font-family: sans-serif !important;color:white !important;" ng-switch-when="2">{{percent}} <i class="icon ion-battery-low"></i></span>
	        </span>
	    </h5>
	</ion-nav-title>
  <ion-content scroll="false">
        <div id="traffic" data-tap-disabled="true"></div>
    </ion-content>
</ion-view>