#map {
    height: 40%;
    width: 100%;
}

#traffic {
    height: 100%;
    width: 100%;
}

#google-map {
    height: 100%;
    width: 100%;
}

.scroll {
    height: 100%;
}

table#table1 {
    width:100% !important; 
    margin-left:24% !important; 
    margin-right:15% !important;
  }

.button-gapps {
  background-image: url("../img/gapps.svg");
  background-repeat: no-repeat;
  background-size: 100% 100% !important;
}

body {
    cursor: url('http://ionicframework.com/img/finger.png'), auto;
}

.item-avatar > img:first-child {
    max-width: 50px;
    max-height: 50px;
    margin-top: -11%;
    margin-left: 40%;
}

.input-text {
  position: relative;
  margin-top: 1rem;
}

.input-text label {
  color: #9e9e9e;
  position: absolute;
  top: 0.8rem;
  left: 0.75rem;
  font-size: 1rem;
  cursor: text;
  transition: .2s ease-out;
}

.input-text label.active {
  font-size: 0.8rem;
  /*-webkit-transform: translateY(-140%);
          transform: translateY(-140%);*/
}

.input-text .prefix {
  position: absolute;
  width: 3rem;
  font-size: 2rem;
  transition: color .2s;
}

.input-text .prefix.active {
  color: #26a69a;
}

.input-text .prefix ~ input,
.input-text .prefix ~ textarea {
  margin-left: 3rem;
  width: 92%;
  width: calc(100% - 3rem);
}

.input-text .prefix ~ textarea {
  padding-top: .8rem;
}

.input-text .prefix ~ label {
  margin-left: 3rem;
}

@media only screen and (max-width: 992px) {
  .input-text .prefix ~ input {
    width: 86%;
    width: calc(100% - 3rem);
  }
}

@media only screen and (max-width: 600px) {
  .input-text .prefix ~ input {
    width: 80%;
    width: calc(100% - 3rem);
  }
}

#profile-info {
  margin-top: -2%;
  width: 100%;
  z-index: 2;
  text-align: center;
}

#register-info {
  width: 100%;
  z-index: 2;
  text-align: center;
}

#profile-name {
  color: #fff;
  font-size: 26px;
  font-weight: 300;
}

#profile-image {
  display: block;
  border-radius: 100px;
  border: 1px solid #fff;
  width: 128px;
  height: 128px;
  margin: 30px auto 0;
  box-shadow: 0px 0px 4px rgba(0,0,0,0.7);
}

.myScroll{
width: 100%;
height: 90% ;
}

.slide1 {
  background-color: #337ab7 !important;
  color:white !important;
}

.slide2 {
  background-color: #5bc0de !important;
  color: white !important;
}
.slide3 {
  background-color: #5cb85c !important;
  color: white !important;
}

.slide4 {
  background-color: #014279 !important;
  color:white !important;
}

.slide5 {
  background-color: #05789A !important;
  color: white !important;
}
.slide6 {
  background-color: #339C33 !important;
  color: white !important;
}

.slide7 {
  background-color: #693392 !important;
  color: white !important;
}

.slide8 {
  background-color: #B33C3C !important;
  color: white !important;
}

.slide9 {
  background-color: #B11E38 !important;
  color: white !important;
}

.custom {
  background-color: rgb(228, 228, 228) !important; /* This sets the background color*/
  font-family: Raleway !important;
 }

 .header {
  background-color: black !important; /* This sets the background color*/
  font-family: Raleway !important;
 }
 
/*Set the background to transparent for ion-item*/
.custom .item {
  background-color: transparent;
  border:none;   /*Removes all borders*/
  color: black;    /*Text color for each item*/
  font-family: Raleway !important;
}
 
/*Changes the border for the last item*/
.custom .item:last-child {
  font-family: Raleway !important;
}
 
.custom .item-complex .item-content, .dark .item-radio .item-content {
  background-color: transparent;
  font-family: Raleway !important;
}
 
/*Just makes the type white*/
.custom h2,
.custom h3,
.custom p,
.custom a {
  color: black;  /*Text color for each item, overrides the color property above*/
  font-family: Raleway !important;
}


#display-image {
  display: block;
  border-radius: 100px;
  /*width: 72px;
  height: 72px;
  margin: 2% auto 5% 30%;*/
  width: 100px;
  height: 100px;
  float: left !important;
}

#display-info {
  width: 100%;
  z-index: 2;
}

.list .item.item-accordion {
  line-height: 38px!important;
  padding-top: 0!important;
  padding-bottom: 0!important;
  transition: 0.09s all linear!important;
}
.list .item.item-accordion.ng-hide {
  line-height: 0px!important;
}
.list .item.item-accordion.ng-hide-add,
.list .item.item-accordion.ng-hide-remove {
  display: block !important;
}

//chat css
.scroll {
  padding: 10px 0 50px !important;
}
.messages {
  margin-bottom: 6% !important;
  margin-left: 2% !important;
  margin-right: 2% !important;
  margin-top: 6% !important;
}
.messages.message {
    -webkit-box-flex: 1 !important;
    -moz-box-flex: 1 !important;
    -webkit-flex: 1 1 auto !important;
    -ms-flex: 1 1 auto !important;
    flex: 1 1 auto !important;
    padding: 10px !important;
    -webkit-transition: all 250ms ease-in-out !important;
    transition: all 250ms ease-in-out !important;
    overflow: hidden !important;
    text-align: left !important;
    -webkit-transform: translate3d(0, 0, 0) !important;
    -moz-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
  }
.messages.other {
    -webkit-transform: translate3d(0, 0, 0) !important;
    -moz-transform: translate3d(0, 0, 0) !important;
    transform: translate3d(0, 0, 0) !important;
    text-align: right !important;
}
.messages.other #content{
    color: black !important;
    background-color: #C7C7CC !important;
    text-align: right !important;
    display: inline-block !important;
    padding: 10px !important;
    border-radius: 10px !important;
    max-width: 240px !important;
}
#content {
  background: #014279 !important;
  display: inline-block !important;
  color: white !important;
  padding: 10px !important;
  border-radius: 10px !important;
  text-align: left !important;
  max-width: 240px !important;
}
.rotate-90 {
  display: inline-block; 
  transform: rotate(270deg);
}

/* hide the scroll bar*/
::-webkit-scrollbar,
*::-webkit-scrollbar {
    display: none;
}
.fullscreen-image {
  max-width: 50%;
  max-height: 70%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
}
p.info {
  position: absolute;
  bottom: 8px;
  margin: 0 auto;
  width: 100%;
  display: block;
  text-align: center;
  font-size: 28px;
  color: #ffffff;
}
ul.rating li {
  display: inline;
  border: 0px;
  background: none;
  padding: 5px 10px;
}
ul.rating li i {
  font-size: 30px;
}

.loading-container .loading {
    margin-top: 15% !important;
    padding: 10%;
    border-radius: 5px;
    background-color: transparent !important;
    color: red !important;
    text-align: center;
    text-overflow: ellipsis;
    font-size: 15px;
}

.spinner svg {
  width: 60px;
  height: 60px;
  stroke: red;
  fill: red;
}

.theroot {
  height: 50%;
  background-color: #8CC0F1;
 }

.scrollView {
  height: 90%;
  background-color: #8CC0F1;
 }

.example1 {
    background:url("../img/1.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 0.6;
}

.example2 {
    background:url("../img/2.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 0.9;
}

.example3 {
    background:url("../img/6.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 0.8;
}

.example4 {
    background:url("../img/6.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    opacity: 0.9;
}

.card {
  box-shadow: 25px 25px 25px 25px rgba(0, 0, 0, 0.12), 25px 25px 25px 25px rgba(0, 0, 0, 0.01) !important;
}

.content {
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}

/*.spinner svg {
  width: 19% !important;
  height: 85px !important;
}*/